<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeowGd1">

        <!-- Màn hình mở app (biểu tượng bấm vào sẽ vào đây) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!-- Meow Test: màn kiểm tra B1 -->
<activity
    android:name="com.meowwidget.gd1.QuoteTestActivity"
    android:label="Meow Test"
    android:exported="true"
    android:enabled="true">
    <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
    </intent-filter>
</activity>

        <!-- Màn chính -->
        <activity android:name=".MainActivity" />
   <activity
       android:name="com.meowwidget.gd1.MeowSettingsActivity"
       android:exported="false"
       android:screenOrientation="portrait"
       android:windowSoftInputMode="adjustResize"/>
<activity
    android:name="com.meowwidget.gd1.QuotesListActivity"
    android:exported="false" />
      
 
        <receiver
            android:name=".MeowQuoteWidget"
            android:exported="false"
            android:label="The Meow Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
          <action android:name="android.intent.action.TIME_SET"/>
<action android:name="android.intent.action.DATE_CHANGED"/>
<action android:name="android.intent.action.TIMEZONE_CHANGED"/>
<action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
      
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/cauhinh_meow_info" />
        </receiver>
</application>
</manifest>
